.tarjetaProducto {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.detallesProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
