.contenedor {
  height: 75vh;
  font-family: "Questrial", sans-serif;
}
.cajaImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebeeef;
}
.contenedorImagen {
  width: 50vw;
}
.imagenDetalle {
  width: 100%;
}
.cajaDescripcion {
  padding: 7rem;
}
.info-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.info-producto h2 {
  font-size: 48px;
  padding: 1rem;
}
.info-producto h4 {
  font-size: 32px;
  font-weight: 600;
}
.info-precio {
  color: green;
  padding: 0.5rem;
}
